# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Keil / ARM
Listings/
Objects/
*.uvguix.*
*.uvoptx
*.uvprojx
*.scvd
*.dbgconf
*.dep
*.crf
*.d
*.o
*.axf
*.htm
*.lnp
*.lst
JLinkLog.txt
*.iex

# Arduino
**/build/

# Large models
*.pt
*.pth

# SQLite
data.db

# Keil build outputs
*.hex
*.map

# Archives & installers
*.zip
*.7z
*.rar
*.exe

# Images (screenshots)
*.jpg
*.png

# OS
.DS_Store
Thumbs.db
*.tmp
